/* .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */

/* .work_section{
  border: 2px solid red;
  width: 90%
} */

.heading {
  font-size: 22px;
  color: var(--color-brand);
  padding-left: 50px;
  padding-top: 30px;
}

.subheading {
  font-size: 42px;
  padding-left: 50px;
}

.container img {
  width: 320px;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.container h2 {
  font-size: 0.8rem;
}
