.bg-image{
    background-image: url('./../assets/images/sidebar-img.jpg');
}

.active{
    color: var(--color-brand);
}
.filter-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}



.filter-container button{
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: white;
  color: rgb(65, 98, 168);
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button.active {
    background-color: var(--color-brand2);
    color: rgb(65, 98, 168);
}

.max-width {
    width: 480px;
}

.custom-display{
    display: none;
}

.custom-hover:hover .custom-display{
    display: flex;
}

.myAnimation {
    animation: crescendo .3s alternate infinite ease-in-out;
  }
  
  @keyframes crescendo {
    0%   {transform: scale(.9);}
    50%   {transform: scale(1);}
    100% {transform: scale(1.1);}
  }


  .pulse  {
    filter: blur(3px);
    animation : leftToRight 2s Infinite;

 }

 @keyframes leftToRight {
    0% {
        transform: translateX(-300px);
        opacity: 0.4;
    }
    100% {
        transform: translateX(800px);
        opacity: 0;
    }
   }


/*item List css */

.box{
    width: 300px;
    height: 250px;
}

@media screen and (max-width: 480px) {
    .box{
        width: 250px;
        height: 250px;
    }
}

.box-arrow{
    padding: 10px;
    border-radius: 12px;
}

.ql-editor {
    min-height: 230px;
}
